<!doctype html>
<html lang='si'>

<head>
  <title>BestHack</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body style="background-image:url('images/ostalo.jpg')">
    <div style="width:100%; padding:10px;">
      <form action="/nastavitve" method="get">
      <div>
          <input type="submit" class="btn btn-default" style="float:right; margin-left:20px;" value="Nastavitve" />
      </div>
      </form>
      <form action="/odjava" method="get">
        <div>
            <input type="submit" class="btn btn-default" style="float:right;" value="Odjava" />
        </div>
      </form>
    </div>
    <div>
      <script>
        var time = new Date("<%= budilka %>");
        window.onload = function() {
          setInterval(function() {
            var now = new Date();
            var nowSecconds = now.getDate() * 86400 + now.getHours() * 3600 + now.getMinutes() * 60 + now.getSeconds();
            var timeSecconds = time.getDate() * 86400 + time.getHours() * 3600 + time.getMinutes() * 60 + time.getSeconds();
            var dif = timeSecconds - nowSecconds;
            if(dif <= 0){
              window.location = window.location.href + 'prijava';
            }
            console.log(window.location.href);
            document.getElementById('timeleft').innerHTML = Math.floor(dif/3600) + ":" + Math.floor((dif % 3600) / 60) + ":" + dif % 60;
          }, 1000);
        }
      </script>
      <div id="timeleft"></div>
    </div>
    <div id="tabelaDiv" style="width: 50%; padding: 10px; margin-top:40px; margin-right:0px; margin-left:auto">
      <table id="tabela" border="1" style="width:100%">
        <% var maxTime = 16 %>
        <% var stevec = 7; %>
        <% var dnevi = ['ponedeljek', 'torek', 'sreda', 'četrtek', 'petek']; %>
        <% var dneviB = ['Ponedeljek', 'Torek', 'Sreda', 'Četrtek', 'Petek']; %>
        <% var urnik = stuff; %>
        <tr style="height: 50px">
          <% for(var i = 0; i < 6; i++){ %>
            <% if(i==0) { %>
              <!-- prazna celica -->
              <td style="width: 20px; background-color:#ffffff; opacity:0.85;text-align: center;"></td>
            <% }else{ %>
              <!-- dnevi -->
              <td style="width: 20px; background-color:#ffffff; opacity:0.85;text-align: center;font-weight: bold;font-size: 18px;">
                <%= dneviB[i-1] %>
              </td>
            <% } %>
          <% } %>
        </tr>
        <% for(var i = 0; i < 16; i++) { %>
          <tr style="height: 50px">
            <% for(var j = 0; j < 6; j++) { %>
                <% var not = 0 %>
                <% if(j==0){ %>
                  <!-- ure -->
                  <td style="width: 20px; background-color:#ffffff; opacity:0.85;text-align: center;font-weight: bold;">
                    <%= stevec+":00" %>
                  </td>
                <% }else{ %>
                  <% for(var k = 0; k < urnik.length; k++) { %>
                    <% if(not == 0 && urnik[k].dan == dnevi[j-1]) { %>
                        <% if(stevec >= parseInt(urnik[k].zacetek.split(':')[0]) && stevec < parseInt(urnik[k].konec.split(':')[0])) { %>
                          <% not = 1 %>
                          <td style="width: 20px; background-color:  <%= urnik[k].barva%>;text-align: center; ">
                            <%= urnik[k].naziv%>
                          </td>
                        <% } %>
                    <% }%>
                  <% } %>
                  <% if(not == 0) { %>
                    <td style="width: 20px; background-color:#ffffff; opacity:0.6;text-align: center;"></td>
                  <% } %>
                <% } %>
            <% } %>
          </tr>
          <% stevec = stevec + 1; %>
        <% } %>
      </table>
    </div>
    
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js">
    
    
</body>
</html>